* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(../AfrikaSafariRebuildSt-2lzw.ttf);
}

canvas {
  border: 4px black solid;
  display: flex;
}

#main {
  display: flex;
}

h1 {
  font-family: myFirstFont;
  display: flex;
  font-weight: 800;
  color: #edc244;
  font-size: 50px;
}

body {
  background-image: url("../images/forest-scene-daytime-nighttime/30798.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

#score {
  color: #edc244;
  font-family: myFirstFont;
  font-size: 20px;
}

#top-score {
  color: #edc244;
  font-family: myFirstFont;
  font-size: 20px;
}

#scoreboard {
  background-image: url("../images/ground.jpg");
  text-align: center;
  min-width: 250px;
  border: 2px black solid;
}

#instruction {
  display: display;
  color: #edc244;
  font-family: myFirstFont;
  font-size: 18px;
  text-align: center;
}

#instruction > img {
  width: 150px;
  height: 90px;
}

#title-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

#title-banner > img {
  width: 100px;
  height: 80px;
}

#main {
  display: flex;
  flex-direction: column;
}

#top-container {
  display: flex;
  justify-content: center;
}
