* {
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px black solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-box {
  display: flex;
}

h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Snowburst One", cursive;
  font-weight: 800;
  color: yellow /* #653821 */;
  font-size: 40px;
}

body {
  background-image: url("../images/forest-scene-daytime-nighttime/30798.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#score {
  color: yellow;
  font-family: "Snowburst One", cursive;
}

#top-score {
  color: yellow;
  font-family: "Snowburst One", cursive;
}
