* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(../AfrikaSafariRebuildSt-2lzw.ttf);
}

canvas {
  border: 1px black solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-box {
  display: flex;
}

h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: myFirstFont /* "Snowburst One", cursive */;
  font-weight: 800;
  color: #edc244 /* #653821 */;
  font-size: 40px;
}

body {
  background-image: url("../images/forest-scene-daytime-nighttime/30798.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#score {
  color: #edc244;
  font-family: myFirstFont /* "Snowburst One", cursive */;
}

#top-score {
  color: #edc244;
  font-family: myFirstFont /* "Snowburst One", cursive */;
}

#scoreboard {
  background-image: url("../images/ground.jpg");
  display: block;
  width: 15%;
  text-align: center;
}
